html {
    position: relative;
    min-height: 100%;
    padding-bottom: 160px;
}

body {
    margin-bottom: 160px;
    font-size: x-large;
    background-color: #EEEEEE;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* height: 160px; */
}

@media (max-width: 992px) {
    div {
        scroll-margin-top: 3.5rem;
    }
}

@media (min-width: 992px) {
    div {
        scroll-margin-top: 5.5rem;
    }
}

.container,
.container-fluid {
    vertical-align: middle;
}

.btn {
    vertical-align: middle;
    font-size: x-large;
}

.modal-title {
    font-size: x-large;
}

.bodyWhite {
    background-color: #EEEEEE;
}

a span.noDecoration {
    text-decoration: none !important;
}